
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <h1>Notifications</h1>
    <ul id='notifylist'></ul>


    <script>
        var loc = window.location
        var wsStart = "ws://"
        if (loc.protocol == "https:") {
            wsStart = "wss://"
        }
        var webSocketEndpoint = wsStart + loc.host + '/notifications/'


        var socket = new WebSocket(webSocketEndpoint)
        var nl = document.querySelector('#notifylist')
        // Socket On receive message Functionality
        socket.onmessage = function (e) {
            console.log('message', e)
            console.log(e.data)

            // Access the notification data
            var el = document.createElement('li')
            el.innerHTML = "<h3>" + JSON.parse(e.data).content + "</h3>"
            nl.appendChild(el)
            // Can write any functionality based on your requirement
        }

        // Socket Connet Functionality
        socket.onopen = function (e) {
            console.log('open', e)
        }

        // Socket Error Functionality
        socket.onerror = function (e) {
            console.log('error', e)
        }

        // Socket close Functionality
        socket.onclose = function (e) {
            console.log('closed', e)
        }
    </script>



</body>

</html>